<h2>Root</h2>
<p>
    <a class="btn btn-primary btn-xs" href="{{ path(['pages/create']) }}">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </a>
</p>

<div>
    {% if pages %}
        <ul class="list-unstyled">
            {% include 'pages/partials/pages_list.twig' with {'pages': pages} %}
        </ul>
    {% else %}
        <p>No pages were created.</p>
    {% endif %}
</div>