<div class="row">
    <div class="col-md-8">
        <h1>Create new page</h1>

        <form action="{{ url.to('page/add') }}" method="post">
            {% include 'partials/form.twig' with {'page': page} %}

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>